//codigo para conseguir un video responsive
.video-container
  padding 25%
  height 0
  position relative

  iframe, video, object, embed
    position absolute
    top 0
    left 0
    width 100%
    height 100%
